<div class="container my-5">
    <h1>Desarrollado por:</h1>
</div>


<div class="container" align="center"> 
    <div class="row align-items-start">
        <div class="col">
        <div class="card" style="width: 18rem;">
            <img src="..." class="card-img-top" alt="...">
            <div class="card-body">
                <p class="card-text">Victor Danilo Chacon</p>
            </div>
        </div>
        </div>
        <div class="col">
        <div class="card" style="width: 18rem;">
            <img src="..." class="card-img-top" alt="...">
            <div class="card-body">
                <p class="card-text">Daniel Sebastian Perez</p>
            </div>
        </div>
        </div>
        <div class="col">
        <div class="card" style="width: 18rem;">
            <img src="..." class="card-img-top" alt="...">
            <div class="card-body">
                <p class="card-text">Christian Alexander Erazo</p>
            </div>
        </div>
    </div>
</div>

    <div class="text-center mt-5" >
        <p>Universidad de Nariño</p>
        <p>Ingenieria de Sistemas</p>
        <p>Ipiales - Nariño</p>
        <p>2023</p>
    </div>
    

</div>

